/****Colors
    red-color:#50B36E
    dark-red-color:#45995E
    light-gray-color:#cecece
    light-blue-grey-color:#8e92a3
    dark-blue-gray-color:#32374b
    darker-blue-gray-color:#21263a
****/

/****New Colors
    red-color:#ee1356
    dark-red-color:#d4114b
    grey-color:#7f8c8d
    green-color:#2acd82
    dark-green-color:#24b370
    blue-color:#4070f8
    dark-blue-color:#3a65de
    linked-in-color:#4875b4
    dark-linked-in-color:#3e659c
    github-color:#333333
    dark-github-color:#1a1a1a
    mail-color:#2acd82
    dark-mail-color:#24b370
****/

panel-default{
    padding-left: 100px;
}

body {
    overflow-x: hidden;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

hr{
    margin-top: 60px;  
}

.img-centered {
    margin: 0 auto;
}

.img-small {
    max-height: 250px;
    max-width: 250px;
}

header {
    text-align: center;
    color: #7f8c8d;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text p{
    display: block;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    padding-bottom: 200px;
}

@media(max-width:767px) {
    header .intro-text p {
        padding-bottom: 50px;
    }
}

header .intro-text a{
    text-decoration: underline;
    color: #ee1356;
}

section, footer {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section a:not(.btn), footer a:not(.btn) {
    text-decoration: underline;
}

section.blog {
    color: #fff;
    background: #ee1356;
}

section.blog p {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

section.blog a:not(.btn) {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

section.about {
    color: #fff;
    background: #fff;
}

section.about p {
    color: #7f8c8d;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

section.about a:not(.btn) {
    color: #7f8c8d;
    font-size: 40px;
    font-weight: 300;
}

section.education {
    color: #fff;
    background: #4070f8;
}

section.education p {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

section.education a:not(.btn) {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

section.interests {
    color: #fff;
    background: #fff;
}

section.interests p {
    color: #7f8c8d;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

section.interests a:not(.btn) {
    color: #7f8c8d;
    font-size: 40px;
    font-weight: 300;
}

section.skills {
    color: #fff;
    background: #2acd82;
}

section.skills p {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

section.skills a:not(.btn) {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

section.email {
    color: #fff;
    background: #fff;
}

footer.email p {
    background: transparent;
    color: #7f8c8d;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 100px;
}

footer.email a:not(.btn) {
    color: #7f8c8d;
    font-size: 40px;
    font-weight: 300;
}

footer.email p.mark {
    padding-top: 100px;
    color: #7f8c8d;
    font-size: 12px;
    font-weight: 300;
}

@media(max-width:767px) {
    footer.email p {
        padding-bottom: 50px;
    }
    footer.email p.mark {
        padding-top: 0px;
    }
}

.btn {
    font-family: "Open Sans", sans-serif
}

.btn-resume {
    margin-top: 15px;
    border: solid 2px #4070f8;
    font-size: 40px;
    font-weight: :300;
    color: #fff;
    background: #4070f8;
    transition: all .1s ease-in-out;
}

.btn-resume:hover,
.btn-resume:focus,
.btn-resume:active,
.btn-resume.active {
    border: 2px solid #3a65de;
    color: #fff;
    background: #3a65de;
}

.btn-github {
    margin-top: 15px;
    border: solid 2px #333333;
    font-size: 20px;
    font-weight: :300;
    color: #fff;
    background: #333333;
    transition: all .1s ease-in-out;
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active {
    border: 2px solid #1a1a1a;
    color: #fff;
    background: #1a1a1a;
}

.btn-linkedin {
    margin-top: 15px;
    border: solid 2px #4875b4;
    font-size: 20px;
    font-weight: :300;
    color: #fff;
    background: #4875b4;
    transition: all .1s ease-in-out;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active {
    border: 2px solid #3e659c;
    color: #fff;
    background: #3e659c;
}

.btn-mail {
    margin-top: 15px;
    border: solid 2px #2acd82;
    font-size: 20px;
    color: #fff;
    background: #2acd82;
    transition: all .1s ease-in-out;
}

.btn-mail:hover,
.btn-mail:focus,
.btn-mail:active,
.btn-mail.active {
    border: 2px solid #24b370;
    color: #fff;
    background: #24b370;
}

#about{
    padding-top: 70px;
}

#education{
    padding-top: 70px;
}

#interest{
    padding-top: 70px;
}

#skills{
    padding-top: 70px;
}

#email{
    padding-top: 70px;
}


