html {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #7f8c8d;
  font-weight: 300; }

body {
  overflow-x: hidden;
  background: white;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300; }

p {
  font-size: 20px; }
  p .small {
    font-size: 16px; }

hr {
  margin-top: 60px; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Open Sans", Helvetica, sans-serif; }

header {
  background: white;
  color: #7f8c8d;
  font-family: "Open Sans", Helvetica, sans-serif; }
  header .container {
    padding-top: 50px;
    padding-bottom: 50px; }
  header img {
    display: block;
    margin: 0 auto 20px; }
  header .img-large {
    min-height: 250px;
    min-width: 250px; }
  header .intro-text h1, header .intro-text h2, header .intro-text h3, header .intro-text h4, header .intro-text h5, header .intro-text h6 {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 300;
    display: block;
    font-size: 40px;
    padding-bottom: 25%;
    padding-top: 10%; }
  header .intro-text span.name {
    color: #ee1356; }

@media (max-width: 767px) {
  header .intro-text h1, header .intro-text h2, header .intro-text h3, header .intro-text h4, header .intro-text h5, header .intro-text h6 {
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 30px; } }
.img-centered {
  margin: 0 auto; }

section a:hover:not(.btn) {
  text-decoration: none; }
section a.btn {
  font-size: 30px;
  width: 100%; }
section.social {
  background: #ee1356; }
  section.social a.btn-github {
    background: #ba0f43;
    color: white; }
  section.social a.btn-github:hover,
  section.social a.btn-github:focus,
  section.social a.btn-github:active,
  section.social a.btn-github.active {
    background: #d4114b;
    color: white; }
  section.social a.btn-linkedin {
    background: #ba0f43;
    color: white; }
  section.social a.btn-linkedin:hover,
  section.social a.btn-linkedin:focus,
  section.social a.btn-linkedin:active,
  section.social a.btn-linkedin.active {
    background: #d4114b;
    color: white; }
  section.social a.btn-mail {
    background: #ba0f43;
    color: white; }
  section.social a.btn-mail:hover,
  section.social a.btn-mail:focus,
  section.social a.btn-mail:active,
  section.social a.btn-mail.active {
    background-color: #d4114b;
    color: white; }
section.journal {
  background: white;
  color: #7f8c8d; }
  section.journal a {
    color: #ee1356; }
section.about {
  background: #4070f8;
  color: white; }
  section.about a {
    color: white; }
  section.about a.btn-resume {
    background: #3359c4;
    color: white; }
  section.about a.btn-resume:hover,
  section.about a.btn-resume:focus,
  section.about a.btn-resume:active,
  section.about a.btn-resume.active {
    background-color: #3a65de;
    color: white; }
section.education {
  background: white;
  color: #7f8c8d; }
  section.education a {
    color: #fbeb3a; }
section.interests {
  background: #2acd82;
  color: white; }
  section.interests a {
    color: white; }
section.skills {
  background: white;
  color: #7f8c8d; }
  section.skills a {
    color: #2acd82; }
section.contact {
  background: #fafafa;
  color: #7f8c8d; }
  section.contact a {
    color: #2acd82; }

footer {
  background: #fafafa;
  color: #7f8c8d;
  font-size: 10px;
  text-align: center;
  padding: 100px 0; }

#social {
  padding: 100px 0; }

#journal {
  padding: 100px 0; }

#about {
  padding: 100px 0; }

#education {
  padding: 100px 0; }

#interests {
  padding: 100px 0; }

#skills {
  padding: 100px 0; }

#contact {
  padding: 100px 0; }

@media (max-width: 480px) {
  section p, section a, .jumbotron p, .jumbotron a {
    font-size: 30px;
    font-weight: 300;
    text-align: center; } }
@media (min-width: 480px) {
  section p, section a, .jumbotron p, .jumbotron a {
    font-size: 40px;
    font-weight: 300;
    text-align: center; } }
