/*
 * style.scss
 * joshherkness.github.io
 * 
 * Copyright 2015 Joshua Herkness
 */

//Scheme Colors
$red-color: #ee1356;
$red-color-dark: #d4114b;
$red-color-dark-dark: #BA0F43;
$gray-color-light: #fafafa;
$gray-color: #7f8c8d;
$green-color:#2acd82;
$green-color-dark: #24b370;
$green-color-dark-dark: #1F9961;
$blue-color: #4070f8;
$blue-color-dark: #3a65de;
$blue-color-dark-dark: #3359C4;
$yellow-color: #fbeb3a;
$yellow-color-dark: #E0D234;
$yellow-color-dark-dark: #C7BA2E;

//Social Colors
$linkedin-color: #4875b4;
$linkedin-color-dark: #3e659c;
$github-color: #333333;
$github-color-dark: #1a1a1a;
$mail-color: #2acd82;
$mail-color-dark: #24b370;
$dribbble-color: #ea4c89;
$dribbble-color-dark: #D1447A;

// Fonts
$font-stack: 'Economica', 'Open Sans', Helvetica, sans-serif;

html {
	font-family: $font-stack;
	color: $gray-color;
	font-weight: 400;
	text-transform: uppercase;
}

body {
    overflow-x: hidden;
    background: white;
    font-family: $font-stack;
    font-weight: 400;
}

html, body {
	overflow-x: hidden;
	max-width: 100%;
}

p {
    font-size: 20px;
	
	// Small Serif
	.small{
		font-size: 16px;
	}
	
	// Large Serif
	.large{
		font-size: 24px;
	}
}

// All headers
h1,h2,h3,h4,h5,h6{
	
	// ALign all headers in the center
	text-align: center;
	font-family: $font-stack;
}

// Header
header {
	
	background: white;
    color: $gray-color;
	font-family: $font-stack;
	
	.container {
    	padding-top: 50px;
    	padding-bottom: 50px;
	}
	
	// Center logo
	img {
    	display: block;
    	margin: 0 auto 20px;
	}
	
	// Special size constraint for a larger logo.
	.img-large {
    	min-height: 250px;
    	min-width: 250px;
	}
	
	.intro-text {
		
		h1,h2,h3,h4,h5,h6 {
			font-family: $font-stack;
			font-weight: 400;
    		display: block;
    		font-size: 40px;
    		padding-bottom: 25%;
    		padding-top: 10%;
		}
		
		// Attributes of emphisized text in intro text.
		span.name{
    		color: $red-color;
		}
	}
}

// When screen width is less than 767px
@media(max-width:767px) {
	
    header {
		.intro-text {
			h1,h2,h3,h4,h5,h6 {
        		padding-bottom: 50px;
        		padding-top: 50px;
				font-size: 30px;
			}
		}
    }
}

// Remove shadow from the inside of btn objects.
.btn:active,
.btn.active {
	-webkit-box-shadow: none;
  	box-shadow: none;
}

section {
	
	// Remove underlines from links.
	a:hover:not(.btn){
		text-decoration: none;
	}
	
	// Change the button attributes for all sections
	a.btn {
		font-size: 30px;
		width: 100%;
	}
	
	// Social Section
	&.social {
		
		background: $red-color;
		color: white;
		
		a.btn-github {
			background: $red-color-dark-dark;
			color: white;
		}
		
		a.btn-github:hover,
		a.btn-github:focus,
		a.btn-github:active,
		a.btn-github.active {
    		background: $red-color-dark;
			color: white;
		}
		
		a.btn-linkedin {
			background: $red-color-dark-dark;
			color: white;
		}
		
		a.btn-linkedin:hover,
		a.btn-linkedin:focus,
		a.btn-linkedin:active,
		a.btn-linkedin.active {
    		background: $red-color-dark;
			color: white;
		}
		
		a.btn-mail {
			background: $red-color-dark-dark;
			color: white;
		}
		
		a.btn-mail:hover,
		a.btn-mail:focus,
		a.btn-mail:active,
		a.btn-mail.active {
    		background-color: $red-color-dark;
			color: white;
		}
	}
	
	// Jounal section
	&.journal {
		
		background: white;
		color: $gray-color;
		
		a{
			color: $red-color;
		}
	}
	
	// About section
	&.about {
		
		background: $blue-color;
		color: white;
		
		a{
			color: white;
		}
		
		a.btn-resume {
			background: $blue-color-dark-dark;
			color: white;
		}
		
		a.btn-resume:hover,
		a.btn-resume:focus,
		a.btn-resume:active,
		a.btn-resume.active {
    		background-color: $blue-color-dark;
			color: white;
		}
	}
	
	// Education Section
	&.education {
		background: white;
		color: $gray-color;
		
		a{
			color: $yellow-color;
		}
	}
	
	// Interests Section
	&.interests {
		background: $green-color;
		color: white;
		
		a{
			color: white;
		}
	}
	
	// Skills Section
	&.skills {
		background: white;
		color: $gray-color;
		
		a{
			color: $green-color;
		}
	}
	
	// Contact Section
	&.contact {
		background: $gray-color-light;
		color: $gray-color;
		
		a{
			color: $green-color;
		}
	}
}

// Footer
footer {
	
	background: $gray-color-light;
	color: $gray-color;
	font-size: 10px;
	text-align: center;
	padding: 100px 0;
	
}

#social{
    padding: 100px 0;
}

#journal{
    padding: 100px 0;
}

#about{
    padding: 100px 0;
}

#education{
    padding: 100px 0;
}

#interests{
    padding: 100px 0;
}

#skills{
    padding: 100px 0;
}

#contact{
    padding: 100px 0;
}

@media(max-width:480px) {
	
    section p, section a, .jumbotron p, .jumbotron a {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
}

@media(min-width:480px) {
	
    section p, section a, .jumbotron p, .jumbotron a {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
}

