.counter {

    // Style
    font-family: 'DINPro', serif;
    background: $bananna-yellow;

    .counter-title {
        flex: 0 0 auto;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 5px solid $tolopea;
        font-style: italic;
        color: white;
        max-width: 75%; // Fix for the width of the bottom border
    }
}

.counter-wrapper {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin: 50px;

    .display-card {

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        flex: 0 0 auto;

        .display-content {

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            height: 60px;
            background-color: white;
            color: $tolopea;
            font-size: 20px;
            font-weight: 500;
            border-radius: 10px;
            box-shadow: 0 0 60px transparentize($tolopea, 0.9);
            margin: 10px;

            @include sm {
                font-size: 30px;
            }

            @include md {
                font-size: 30px;
            }

            .digit-card {

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                padding: 0 12px;
                height: 100%;

                &:not(:first-child) {
                    border-left: 1px solid $aqua-haze;
                }

                .digit {
                    flex: 0 0 auto;
                }
            }
        }

        .comma-card {
            position: relative;
            left: 0.15em;
            display: inline-block;
            z-index: 100;
            text-align:right;
        }
    }
}
