// Header.scss
.header {
    font-family: 'DINPro' normal;
    .header-wrapper {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
    }
    .hero-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
    }
    .vcard-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        @include md {
            flex-flow: row nowrap;
            align-items: stretch;
        }
    }
    .vcard_profile {
        flex: 0 0 auto;
        overflow: hidden;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-size: cover;
        border: 8px solid #EFF3F7;
        background-image: url('/images/profile-min.jpg');
        &:hover {
            background-image: url('/images/profile_cool-min.jpg');
            cursor:pointer;
        }
    }
    .vcard_detail {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex: 0 0 auto;
        @include md {
            margin-left: 40px;
            align-items: flex-start;
            justify-content: space-around;
        }
        .detail_name,
        .detail_tag,
        .detail_link {
            font-weight: normal;
            margin: 0.5rem 0;
            @include md {
                margin: 0;
            }
        }
        .detail_name {
            font-weight: 500;
            color: $tolopea;
        }
        .detail_tag {
            color: $oxford-blue;
        }
        .detail_link,
        a {
            color: $bananna-yellow;
            &:hover,
            &:active {
                text-decoration: underline;
            }
            &:link,
            &:visited {
                text-decoration: none;
            }
        }
    }
    .footer-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 1rem;
        .footer_tag,
        a {
            flex: 0 0 auto;
            color: $tolopea;
            background-color: white;
            padding: 10px 20px;
            font-weight: normal;
            margin: 0 0.5rem;
            border: 1px solid $aqua-haze;
            border-radius: 50px;
            &:hover,
            &:active {
                background-color: $aqua-haze;
                box-shadow: 0 0 60px transparentize($tolopea, 0.9);
            }
            &:link,
            &:visited {
                text-decoration: none;
            }
        }
    }
}
