// Project.scss
.projects {

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  // Style
  font-family: 'DINPro', serif;

  .projects-title {
    flex: 0 0 auto;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 5px solid $bananna-yellow;
    font-style: italic;
    color: $tolopea;
  }
}

.project-card-collection {
  // Layout
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  // Style
  padding: 10px 0;
  background-color: $aqua-haze;

  @include md {
    background-color: white;
  }
}

.project-card {
  // Layout
  flex: 0 0 100%;
  margin: 10px;
  // Style
  border: 1px solid $aqua-haze;
  text-decoration: none; // Remove underline
  background-color: white ;

  @include md {
    flex: 0 0 33%;

    // Style
    border-radius: 10px;
    overflow: hidden; // Hide corners of images
    box-shadow: 0 0 30px transparentize($tolopea, 0.95);
    &:active,
    &:link,
    &:visited {
      -webkit-transition: all 0.20s ease-out;
      -moz-transition: all 0.20s ease-out;
      -ms-transition: all 0.20s ease-out;
      -o-transition: all 0.20s ease-out;
      transition: all 0.20s ease-out;
    }
    &:hover {
      box-shadow: 0 0 60px transparentize($tolopea, 0.9);
      .tag-collection {
        opacity: 1.0;
      }
    }
  }
  @include lg {
    flex: 0 0 25%;
  }
}

.project-card__image-container {
  position: relative;
  width: 100%
}

.project-card__image {
  width: 100%;
}

.project-card__details {
  padding: 10px;
  margin: 10px;
  background-color: white;
  text-align: center;

  .title {
    color: $tolopea;
  }

  .description {
    color: $very-light-gray;
    font-weight: 300;
  }
}

.project-card__btn-collection {
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid $aqua-haze;
}

.project-card__btn {
  flex: 1 0 auto;
  text-align: center;
  color: $tolopea;
  padding: 15px 0;
  text-decoration: none;
  &:hover {
    background-color: $aqua-haze;
  }
  &:not(:first-child) {
    border-left: 1px solid $aqua-haze;
  }
}

.project-card__btn--disabled {
  color:$aqua-haze;
  &:hover {
    background-color: inherit;
  }
}
