// _projects.scss

.project-card-collection {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  @include xs {
    background-color: $aqua-haze;
  }
  @include md {
    background-color: white;
  }
}

.project-card {

  flex: 0 0 100%;
  margin: 10px;

  border: 1px solid $aqua-haze;
  text-decoration: none; // Remove underline
  background-color: white ;

  -webkit-transition: all 0.20s ease-out;
  -moz-transition: all 0.20s ease-out;
  -ms-transition: all 0.20s ease-out;
  -o-transition: all 0.20s ease-out;
  transition: all 0.20s ease-out;

  @include md {
    flex: 0 0 33%;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px transparentize($tolopea, 0.95);

    &:hover {
      box-shadow: 0 0 60px transparentize($tolopea, 0.9);
    }
  }
  @include lg {
    flex: 0 0 25%;
  }
}

.project-card__image-container {
  position: relative;
  width: 100%
}

.project-card__image {
  width: 100%;
}

.project-card__tag-collection {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  @include md {
    opacity: 0;
  }
}

.project-card:hover .project-card__tag-collection {
  opacity: 1;
  transition: all 0.30s cubic-bezier(0, 0, 0, 1.13);
}

.project-card__details {
  padding: 10px;
  margin: 10px;
  background-color: white;
  text-align: center;

  .title {
    color: $tolopea;
  }

  .description {
    color: $very-light-gray;
    font-weight: 300;
  }
}

.project-card__btn-collection {
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid $aqua-haze;
}

.project-card__btn {
  flex: 1 0 auto;
  text-align: center;
  color: $tolopea;
  padding: 15px 0;
  text-decoration: none;
  &:hover {
    background-color: $aqua-haze;
  }
  &:not(:first-child) {
    border-left: 1px solid $aqua-haze;
  }
}

.project-card__btn--disabled {
  color:$aqua-haze;
  &:hover {
    background-color: inherit;
  }
}
