// Project.scss
.projects {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    // Style
    font-family: 'DINPro', serif;

    .projects-title {
        flex: 0 0 auto;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 5px solid $bananna-yellow;
        font-style: italic;
        color: $tolopea;
    }
}

.projects-wrapper {

    // Layout
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    // Style
    padding: 50px 0;

    .project-card {

        // Layout
        flex: 0 0 100%;

        // Style
        background-color: white;
        margin: 10px;
        border: 1px solid $aqua-haze;
        text-decoration: none;
        overflow: hidden;

        @include sm {
            // Layout
            flex: 0 0 33%;
        }

        @include md {
            // Layout
            flex: 0 0 33%;

            // Style
            border-radius: 10px;

            &:link,
            &:active,
            &:visited {
                -webkit-transition: all 0.20s ease-out;
                -moz-transition: all 0.20s ease-out;
                -ms-transition: all 0.20s ease-out;
                -o-transition: all 0.20s ease-out;
                transition: all 0.20s ease-out;
            }

            &:hover {
                box-shadow: 0 0 60px transparentize($tolopea, 0.9);
            }
        }

        @include lg {
            // Layout
            flex: 0 0 25%;
        }
        .project_image {
            width: 100%;
        }
        .project_details {
            padding: 0 20px 20px 20px;
            .detail_name,
            .detail_description {
                color: $tolopea;
                padding: 5px;
            }
            .detail_name {
                font-weight: 500;
            }
            .detail_description {
                text-align: left;
            }
            .detail_tags {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                .tag {
                    flex: 0 0 auto;
                    padding: 10px 15px;
                    margin: 5px;
                    font-size: 11px;
                    font-weight: 500;
                    color: $tolopea;
                    background-color: rgba($bananna-yellow, 0.7);
                    border-radius: 10px;
                }
            }
        }
    }
}
