<div class="section counter">
    <h1 class="counter-title">I've been programming for...</h1>
    <div class="counter-wrapper" id="seconds">

    </div>
    <div class="counter-wrapper" id="broken">

    </div>
</div>
