<section class="section bc-primary">
    <h3 class="cl-white ul ul--secondary">I've been programming for...</h3>
    <div class="counter-wrapper" id="seconds"></div>
    <div class="counter-wrapper" id="broken"></div>
    <label class="switch">
        <p class="switch__label">Seconds</p>
        <input type="checkbox" id="format-checkbox" class="switch__input"/>
        <div class="switch__control"></div>
        <p class="switch__label">Format</p>
    </label>
</section>
