<div class="section section--yellow">
    <h1 class="section__title section__title--light section__title--underline-dark">I've been programming for...</h1>
    <div class="counter-wrapper" id="seconds"></div>
    <div class="counter-wrapper" id="broken"></div>
    <label class="toggle-switch">
        <h3 class="toggle-switch__label">Seconds</h3>
        <input type="checkbox" id="format-checkbox" class="toggle-switch__input" />
        <div class="toggle-switch__control"></div>
        <h3 class="toggle-switch__label">Format</h3>
    </label>
</div>
