<div class="section header">
    <div class="header-wrapper">
        <div class="hero-wrapper">
            <div class="vcard-wrapper">
                <div class="vcard_profile">

                </div>
                <div class="vcard_detail">
                    <h1 class="detail_name">Joshua Herkness</h1>
                    <h2 class="detail_tag">Software Developer</h2>
                    <h2 class="detail_link"><a href="http://www.joshherkness.com">@joshherkness</a></h2>
                    <h2 class="detail_link"><a href="http://www.joshherkness.com">joshherkness@gmail.com</a></h2>
                </div>
            </div>
        </div>
        <div class="footer-wrapper">
            <a class="footer_tag" href="http://www.joshherkness.com">github</a>
            <a class="footer_tag" href="http://www.joshherkness.com">devpost</a>
            <a class="footer_tag" href="http://www.joshherkness.com">linkedin</a>
        </div>
    </div>
</div>
