<%# header.erb %>
<div class="header">
    <div class="top-wrapper">
        <div class="profile"></div>
        <h1 class="name">Joshua Herkness.</h1>
    </div>
    <div class="hero-wrapper">
        <h2>Sorry for the mess</h2>
        <p>I'm currently renovating right now, so it may be a bit dusty around here.</p>
    </div>
    <div class="bottom-wrapper">
        <% data.social.each do |social| %>
        <% link_to social['link'], :class => 'btn btn--light' do %>
        <%= social['name'] %>
        <% end %>
        <% end %>
    </div>
</div>
