<%# projects.erb %>
<div class="section projects" id="projects">
    <h1 class="projects-title">Projects</h1>
    <div class="projects-wrapper">
        <% data.projects.each do |project| %>
            <% link_to project['website'], :class => 'project-card' do %>
                <% if project['image'] %>
                    <%= image_tag project['image'], :class => 'project_image' %>
                <% end %>
                <div class="project_details">
                    <h2 class="detail_name"><%= project['name'] %></h2>
                    <p class="detail_description"> <%= project['description'] %></p>
                    <div class="detail_tags">
                        <% project['tags'].each do |tag| %>
                            <p class="tag"><%= tag %></p>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
