// _cards.scss

/*
 * Card
 */
.card {
  margin          : 30px;
  border          : $primary-border;
  transition      : all 0.20s ease-out;
  background-color: white;
  box-shadow      : $idle-shadow;
  @include xs {
    border-radius: 5px;
    box-shadow   : $idle-shadow;
    overflow     : hidden;

    &:hover {
      box-shadow: $active-shadow;
    }
  }

}

/*
 * Project card
 */
.project-card {
  @extend .card;

  display        : flex;
  flex-flow      : column nowrap;
  justify-content: center;
  align-items    : stretch;
  flex           : 0 0 90%;
  @include xs {
    flex  : 0 0 300px;
    margin: 20px;
  }
}

.project-card__image-container {
  position   : relative;
  overflow   : hidden;
  line-height: 0;
}

.project-card__image {
  width: 100%;
}

.project-card__tag-collection {
  display  : flex;
  flex-flow: row wrap;
  position : absolute;
  top      : 0;
  left     : 0;
  padding  : 0;
  @include sm {
    opacity: 0;
  }
}

// Show tags
.project-card:hover .project-card__tag-collection {
  opacity   : 1;
  transition: all 0.30s cubic-bezier(0, 0, 0, 1.13);
}

.project-card__details {
  background-color: white;
  padding         : 0 1.4em;

  .title {
    text-align: center;
  }

  .description {
    color: $very-light-gray;
  }
}

.project-card__btn-collection {
  margin-top: auto;
  display   : flex;
  flex-flow : row nowrap;
  border-top: 1px solid $aqua-haze;
}

.project-card__btn {
  flex           : 1 0 auto;
  text-align     : center;
  color          : $tolopea;
  padding        : 15px 0;
  text-decoration: none;

  &:hover {
    background-color: $aqua-haze;
  }

  &:not(:first-child) {
    border-left: 1px solid $aqua-haze;
  }
}

.project-card__btn--disabled {
  color: $disabled;

  &:hover {
    background-color: inherit;
  }
}

/*
 * Intro card
 */

.intro-card {
  @extend .card;
  display        : flex;
  flex-flow      : column nowrap;
  justify-content: center;
  flex           : 0 0 100%;
  @include xs {
    flex: 0 0 75%;
  }
  @include sm {
    flex: 0 0 350px;
  }
}

.intro-card__header-image-container {
  position: relative;
  width   : 100%;
  height  : 200px;
  overflow: hidden;
}

.intro-card__header-image {
  position: absolute;
  right   : 0;
  bottom  : 0;
  width   : 100%;
  height  : auto;
  overflow: hidden;
  filter: blur(15px) saturate(2);
}

.intro-card__profile-image {
  background-color: white;
  display         : block;
  position        : relative;
  top             : -75px;
  left            : calc(50% - 75px - 10px);
  width           : 150px;
  border          : 10px solid white;
  border-radius   : 50%;
  box-shadow      : $idle-shadow;
}
