/*
 * main.css.scss
 */
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro";
@font-face {
  font-family: "DINPro";
  src: url("/fonts/DINPro-Regular/DINPro-Regular.eot");
  src: url("/fonts/DINPro-Regular/DINPro-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/DINPro-Regular/DINPro-Regular.woff") format('woff'), url("/fonts/DINPro-Regular/DINPro-Regular.ttf") format('truetype'), url("/fonts/DINPro-Regular/DINPro-Regular.svg") format('svg');
  font-weight: normal; }
@font-face {
  font-family: "DINPro";
  src: url("/fonts/DINPro-Medium/DINPro-Medium.eot");
  src: url("/fonts/DINPro-Medium/DINPro-Medium.eot?#iefix") format('embedded-opentype'), url("/fonts/DINPro-Medium/DINPro-Medium.woff") format('woff'), url("/fonts/DINPro-Medium/DINPro-Medium.ttf") format('truetype'), url("/fonts/DINPro-Medium/DINPro-Medium.svg") format('svg');
  font-weight: 500; }
@font-face {
  font-family: "DINPro";
  src: url("/fonts/DINPro-Bold/DINPro-Bold.eot");
  src: url("/fonts/DINPro-Bold/DINPro-Bold.eot?#iefix") format('embedded-opentype'), url("/fonts/DINPro-Bold/DINPro-Bold.woff") format('woff'), url("/fonts/DINPro-Bold/DINPro-Bold.ttf") format('truetype'), url("/fonts/DINPro-Bold/DINPro-Bold.svg") format('svg');
  font-weight: bold; }
/* Coolors Exported Palette - coolors.co/fffaf9-31143d-f2eb59-3b475b-120516 */
/* line 7, modules/_base.scss */
html {
  font-size: 62.5%;
  height: 100%; }

/* line 12, modules/_base.scss */
body {
  font-size: 16px;
  font-weight: normal;
  margin: 0; }

/* line 18, modules/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: 'DINPro', normal; }

/* line 28, modules/_base.scss */
h1 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid; }

/* line 37, modules/_base.scss */
h2 {
  font-size: 2rem;
  font-weight: 500; }

/* line 42, modules/_base.scss */
h3 {
  font-size: 1.5rem; }

/* line 46, modules/_base.scss */
h4 {
  font-size: 1rem; }

/* line 50, modules/_base.scss */
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: normal; }

/* line 56, modules/_base.scss */
.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  /* line 61, modules/_base.scss */
  .section--yellow {
    background-color: #FEDB37; }
  /* line 64, modules/_base.scss */
  .section--light {
    background-color: white; }
  /* line 67, modules/_base.scss */
  .section--dark {
    background-color: #2D2540; }

/* line 72, modules/_base.scss */
.section__title {
  padding-bottom: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  max-width: 75%;
  text-align: center; }
  /* line 79, modules/_base.scss */
  .section__title--yellow {
    color: #FEDB37; }
  /* line 82, modules/_base.scss */
  .section__title--light {
    color: white; }
  /* line 85, modules/_base.scss */
  .section__title--dark {
    color: #2D2540; }
  /* line 88, modules/_base.scss */
  .section__title--underline-yellow {
    border-bottom-color: #FEDB37; }
  /* line 91, modules/_base.scss */
  .section__title--underline-light {
    border-bottom-color: white; }
  /* line 94, modules/_base.scss */
  .section__title--underline-dark {
    border-bottom-color: #2D2540; }

/* line 99, modules/_base.scss */
.btn {
  margin: 0 0.5rem;
  padding: 10px 20px;
  border-radius: 50px; }
  /* line 103, modules/_base.scss */
  .btn:link, .btn:visited {
    text-decoration: none; }

/* line 109, modules/_base.scss */
.btn--light {
  color: #2D2540;
  background-color: white;
  border: 1px solid #EFF3F7; }
  /* line 113, modules/_base.scss */
  .btn--light:active, .btn--light:hover {
    background-color: #EFF3F7;
    box-shadow: 0 0 60px rgba(45, 37, 64, 0.1); }

/* line 120, modules/_base.scss */
.tag {
  padding: 10px 20px;
  margin: 5px;
  font-family: 'DINPro', serif;
  font-weight: 500;
  font-size: 10px;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 0 0 60px rgba(45, 37, 64, 0.1); }

/* line 131, modules/_base.scss */
.tag--white-opaque {
  color: #2D2540;
  background-color: rgba(255, 255, 255, 0.25); }

/* line 136, modules/_base.scss */
.tag--white {
  color: #2D2540;
  background-color: white; }

/* line 141, modules/_base.scss */
.toggle-switch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

/* line 149, modules/_base.scss */
.toggle-switch__label {
  color: white;
  padding: 0 20px; }

/* line 154, modules/_base.scss */
.toggle-switch__control {
  transition: 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  width: 3em;
  height: 1.5em;
  display: block;
  border: 4px solid white;
  border-radius: 1.5em;
  background-color: white;
  position: relative; }
  /* line 163, modules/_base.scss */
  .toggle-switch__control:after {
    transition: 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    content: "";
    width: 1.5em;
    height: 1.5em;
    display: block;
    background-color: #FEDB37;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 175, modules/_base.scss */
  .toggle-switch__control:hover {
    cursor: pointer; }

/* line 180, modules/_base.scss */
input.toggle-switch__input {
  display: none; }
  /* line 182, modules/_base.scss */
  input.toggle-switch__input:checked + .toggle-switch__control {
    border-color: #2D2540;
    background-color: #2D2540; }
    /* line 185, modules/_base.scss */
    input.toggle-switch__input:checked + .toggle-switch__control:after {
      left: 1.5em; }

/* line 3, partials/_projects.scss */
.project-card-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #EFF3F7; }
  @media only screen and (min-width: 992px) {
    /* line 3, partials/_projects.scss */
    .project-card-collection {
      background-color: transparent; } }

/* line 15, partials/_projects.scss */
.project-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  flex: 0 0 100%;
  margin: 30px;
  border: 1px solid #EFF3F7;
  text-decoration: none;
  background-color: white;
  -webkit-transition: all 0.20s ease-out;
  -moz-transition: all 0.20s ease-out;
  -ms-transition: all 0.20s ease-out;
  -o-transition: all 0.20s ease-out;
  transition: all 0.20s ease-out; }
  @media only screen and (min-width: 992px) {
    /* line 15, partials/_projects.scss */
    .project-card {
      margin: 10px; } }
  @media only screen and (min-width: 992px) {
    /* line 15, partials/_projects.scss */
    .project-card {
      flex: 0 0 33%;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 30px rgba(45, 37, 64, 0.05); }
      /* line 45, partials/_projects.scss */
      .project-card:hover {
        box-shadow: 0 0 60px rgba(45, 37, 64, 0.1); } }
  @media only screen and (min-width: 1200px) {
    /* line 15, partials/_projects.scss */
    .project-card {
      flex: 0 0 25%; } }

/* line 54, partials/_projects.scss */
.project-card__image-container {
  position: relative;
  width: 100%; }

/* line 59, partials/_projects.scss */
.project-card__image {
  width: 100%; }

/* line 63, partials/_projects.scss */
.project-card__tag-collection {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; }
  @media only screen and (min-width: 992px) {
    /* line 63, partials/_projects.scss */
    .project-card__tag-collection {
      opacity: 0; } }

/* line 75, partials/_projects.scss */
.project-card:hover .project-card__tag-collection {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0, 0, 0, 1.13); }

/* line 80, partials/_projects.scss */
.project-card__details {
  padding: 10px;
  margin: 10px;
  background-color: white;
  text-align: center; }
  /* line 86, partials/_projects.scss */
  .project-card__details .title {
    color: #2D2540; }
  /* line 90, partials/_projects.scss */
  .project-card__details .description {
    color: #8a8a8a;
    font-weight: 300; }

/* line 96, partials/_projects.scss */
.project-card__btn-collection {
  margin-top: auto;
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid #EFF3F7; }

/* line 103, partials/_projects.scss */
.project-card__btn {
  flex: 1 0 auto;
  text-align: center;
  color: #2D2540;
  padding: 15px 0;
  text-decoration: none; }
  /* line 109, partials/_projects.scss */
  .project-card__btn:hover {
    background-color: #EFF3F7; }
  /* line 112, partials/_projects.scss */
  .project-card__btn:not(:first-child) {
    border-left: 1px solid #EFF3F7; }

/* line 117, partials/_projects.scss */
.project-card__btn--disabled {
  color: #EFF3F7; }
  /* line 119, partials/_projects.scss */
  .project-card__btn--disabled:hover {
    background-color: inherit; }

/* line 2, partials/_header.scss */
.header {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin-bottom: 100px; }
  /* line 8, partials/_header.scss */
  .header .top-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 40px; }
    /* line 14, partials/_header.scss */
    .header .top-wrapper .profile {
      flex: 0 0 auto;
      overflow: hidden;
      border-radius: 50%;
      width: 4em;
      height: 4em;
      background-size: cover;
      background-image: url("/images/profile-min.jpg");
      filter: saturate(120%); }
      /* line 24, partials/_header.scss */
      .header .top-wrapper .profile:hover {
        background-image: url("/images/profile_cool-min.jpg");
        filter: saturate(1000%) hue-rotate(275deg);
        cursor: pointer; }
    /* line 30, partials/_header.scss */
    .header .top-wrapper .name {
      flex: 0 1 auto;
      margin: 0 30px;
      color: #2D2540;
      border-bottom-color: #FEDB37; }
  /* line 42, partials/_header.scss */
  .header .hero-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    color: #e1e9f0; }
  /* line 50, partials/_header.scss */
  .header .bottom-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem; }

/* line 2, partials/_counter.scss */
.counter-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 50px; }
  /* line 11, partials/_counter.scss */
  .counter-wrapper .display-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto; }
    /* line 20, partials/_counter.scss */
    .counter-wrapper .display-card .display-content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 60px;
      background-color: white;
      color: #2D2540;
      font-size: 20px;
      font-weight: 500;
      border-radius: 10px;
      box-shadow: 0 0 60px rgba(45, 37, 64, 0.1);
      margin: 10px; }
      @media only screen and (min-width: 768px) {
        /* line 20, partials/_counter.scss */
        .counter-wrapper .display-card .display-content {
          font-size: 30px; } }
      @media only screen and (min-width: 992px) {
        /* line 20, partials/_counter.scss */
        .counter-wrapper .display-card .display-content {
          font-size: 30px; } }
      /* line 44, partials/_counter.scss */
      .counter-wrapper .display-card .display-content .digit-card {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
        height: 100%; }
        /* line 54, partials/_counter.scss */
        .counter-wrapper .display-card .display-content .digit-card:not(:first-child) {
          border-left: 1px solid #EFF3F7; }
        /* line 58, partials/_counter.scss */
        .counter-wrapper .display-card .display-content .digit-card .digit {
          flex: 0 0 auto; }
    /* line 64, partials/_counter.scss */
    .counter-wrapper .display-card .comma-card {
      position: relative;
      left: 0.15em;
      display: inline-block;
      z-index: 100;
      text-align: right; }

/* line 1, partials/_section.scss */
.section {
  padding: 100px 0; }
