html {
    font-family: 'DINPro', normal;
}

h1 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
